* {
    margin: 0px;
    padding: 0px;
  }
  
  h1 {
    background-color: rgb(255, 192, 243);
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
  }
  
  nav {
    background-color: rgb(230, 173, 177);
    padding: 20px;
    text-align: center;
  }
  
  nav li {
    display: inline;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav button {
    padding: 10px;
    border-radius: 15px;
  }
  
  nav button:hover {
    border: 2px solid black;
    background-color: aquamarine;
  }
  
  #About-Me {
    display: block;
    text-align: center;
    background-color: rgb(242, 242, 143);
  }
  
  #About-Me img {
    padding: 10px 0;
    margin: 5px;
    width: 200px;
  }
  
  #About-Me h2 {
    text-decoration: underline;
  }
  
  #About-Me p {
    padding: 0 20px 20px;
    line-height: 20px;
  }
  
  #Projects {
    background-color: lightblue;
    padding-bottom: 20px;
  }
  
  #Projects h2 {
    text-align: center;
    padding: 10px 0 3px;
    text-decoration: underline;
  }
  
  #Projects section {
    max-width: 90%;
    margin: 2% 5%;
  }
  
  .work-item {
    border: 5px solid #F0EAD6;
    padding: 5px;
    border-radius: 5%;
    margin-bottom: 10px; 
    border-radius: 4%;
  }

.work-item h3 {
    color: black;
    background-color: aqua;
    font-size: medium;
    text-align: center;
    margin-bottom: 10px;
    border: 3px solid;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }

  .work-item img{
    max-height: 300px;
    width: 100%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius:4%;
   
  } 

  #ContactMe {
    text-align: center;
    background-color:rgb(211, 169, 250);
    padding-bottom: 20px;
    padding-top:10px;
  }
  #ContactMe h2 {
    text-decoration: underline;
  }

  footer {
    background-color: pink;
    text-align: center;
    padding: 5px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
   
    nav li {
      padding: 20px;
    }

    nav button {
    padding: 20px;
    background-color: rgb(212, 212, 255);
    }

     #About-Me p {
     
      line-height: 25px;
    } 
    
   #About-Me img {
    width: 400px;
   }

   .work-item h3 {
    font-size: large;
    padding: 4px;
  }

   .work-item img{
    max-height: 700px;
   }
  }

  
  @media screen and (min-width: 1168px) {
 
    nav li {
      padding: 40px;
    }

    nav button {
    padding: 20px;
    background-color: rgb(212, 212, 255);
    }


   #About-Me img {
    width: 600px;
   }

   .work-item h3 {
    font-size: large;
    padding: 4px;
  }

   .work-item img{
    max-height: 700px;
   }
  }
 
 
  #About-Me h2 {

    padding-bottom: 5px;
  }

  }